body {
    background-color: #05f04b;
    color: rgb(10, 231, 165); 
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #14e90d;
    color: rgb(7, 238, 150);
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
 display: none;
}

.passo.ativo {
    display:block;
}

